.projects {
  width: 100%;
  background-color: #0d0d0d;
  color: #f2f2f2;
  border-radius: 50px 50px 0 0;
  .container {
    padding: 2rem var(--spacing-1);
    h1 {
      font-weight: 400;
      padding: 2rem 0;
      font-family: var(--font-neueMontreal);
    }
  }
}
