.experiences {
  width: 100%;
  background-color: #f5f5f5;
  margin-top: -4rem;
  .container {
    padding: 4rem var(--spacing-1);
    @media screen and (max-width: 768px) {
      padding: 4rem 2rem;
    }
    h1 {
      font-weight: 400;
      border-bottom: 1px solid #c7c7c7;
    }

    .wrapper {
      margin-top: 4rem;
      padding: 2rem;
      background-color: #d8d8d6;
      border: 1px solid #c7c7c7;
      border-radius: 0.5rem;

      .experiencesHeader {
        display: flex;
        align-items: center;
        margin-top: 10px;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
          flex-direction: column;
        }

        .title {
          gap: 1rem;
          @media screen and (max-width: 768px) {
            width: 100%;
            flex-direction: column;
            gap: 0;
            padding: 0;
            margin: 0;
          }
          & > h3:nth-child(1) {
            font-weight: 600;
            font-size: 1.5rem;
          }

          & > h3:nth-child(2) {
            font-weight: 400;
            font-size: 1rem;
          }
        }
        .date {
          padding-top: 20px;
          font-weight: 400;
        }
      }
      .experiencesDescription {
        padding-top: 2rem;
        font-weight: 400;
      }
    }
  }
}
