.header {
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  mix-blend-mode: difference;
  z-index: 10;

  @media screen and (max-width: 768px) {
    padding: 0 2rem;
  }
  .logo {
    h1 {
      padding: 30px;
      font-size: 20px;
      color: white;
    }
  }
  .menu {
    position: relative;
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding: 30px;
    z-index: 10;
    &::before,
    &::after {
      display: block;
      content: "";
      width: 30px;
      height: 2px;
      mix-blend-mode: difference;
      background-color: white;
      pointer-events: none;
    }
    .boundary {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      cursor: pointer;
      pointer-events: all;
      &:hover {
        transform: scale(3);
      }
    }
  }
}
